# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Data
data/uploads/
data/temp/

# Misc
*.npy


# Environment files
.env
.env.*

# Logs and caches
*.log
.DS_Store
.cache/
.ipynb_checkpoints/

# OS junk
Thumbs.db
desktop.ini
